/* NavBar Styles */
#navbar{
    background-color: clear;
    width: 72%;
    margin: 35px;
    display: grid;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    

}
#navbarBrand{
    color: aqua;
    font-family:'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: medium;
    text-align: center;
}

/* DisplayPost Styles */
.display-post-form {
    width: 40vw;
    margin: auto;
    margin-top: 2rem;
    background-color: lawngreen;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid ;
    box-shadow: 8px 6px 14 px rgb(250, 45, 199);
    
}

/* Post Styles */
button {
    color: rgb(9, 248, 45);
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 14px;
    border-radius: 25%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgb(250, 6, 197), 0 17px 50px 0 rgba(14, 251, 192, 0.894);
}

.active-like {
    background-color: rgb(102, 255, 255);
}

.inactive-like {
    background-color: rgb(231, 4, 174);
}

.active-dislike {
    background-color: rgb(226, 74, 249);
}

.inactive-dislike {
    background-color: rgb(14, 230, 249);
}

/* CreatePost Styles */
.create-post {
    width: 5vw;
    margin: auto;
    margin-top: 1rem;
    background-color:clear;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(16, 0, 0);
    box-shadow: 10px 8px 16 px rgb(255, 150, 213);
}

/* Buttons Styles */
button{
    color: deepskyblue;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14;
    margin-left: 1em;
}

button:hover {
    box-shadow: deepskyblue;
}
#likeButton.active{
    background-color: lightskyblue
}
#dislikeButton.active{
    background-color:lightgreen
}
.customButtons{
    display: flex;
    align-items: center;

}

p#Post{
    color:darkblue
}

p#name{
    color:darkorchid
}

button{
    color:darkcyan
}

