.border-box {
    border: 1px;
    border-style: solid;
    border-color: purple;
    background-color: clear;
    margin: 1em;
    padding: 1em;
}

.container-fluid{
    width: 100%;
    background-size: 100%;
    height: 1000px;
    background-repeat: repeat;
  
}

body{
    background-image: url('./asst/HD-wallpaper-white-sand-beach-beach-relaxing-summer-chairs.jpg'); 
    width: 100%;
    background-size: 100%;
    height: 1000px;
    background-repeat: repeat;
}