.border-box {
    border: 1px;
    border-style: solid;
    border-color: purple;
    background-color: clear;
    margin: 1em;
    padding: 1em;
}

body {
    background-image: url('./asst/HD-wallpaper-white-sand-beach-beach-relaxing-summer-chairs.jpg');
    width: 50%;
    background-size: cover;
}